@font-face { font-family: 'VT323'; src: url('../public/vt323.ttf') format('truetype'); font-display: block; }
@font-face { font-family: 'Pixelify Sans'; src: url('../public/pixelify-sans-bold.ttf') format('truetype'); font-weight: 700; font-display: block; }
@font-face {font-family:Anton;src:url('../public/anton.ttf')}
